---
import { SITE } from 'wohlfuehlgesundheit:config';
---

<div data-animate="fadeIn" data-animate-duration="1000">
  <img src="/src/assets/images/logo.png" width="50" />
  <span class="hidden">{SITE?.name}</span>
</div>
