---
import logo from '~/assets/images/logo.svg';
// import { SITE } from 'wohlfuehlgesundheit:config';
---

<div class="flex">
  <img data-animate="fadeIn" data-animate-duration="4000" src={logo.src} class="mx-auto p-3" height="500" width="500" />
</div>
