---
import logo from '~/assets/images/logo.png';
import { SITE } from 'wohlfuehlgesundheit:config';
---

<div data-animate="fadeIn" data-animate-duration="1000">
  <img src={logo.src} width="50" />
  <span class="hidden">{SITE?.name}</span>
</div>
