---
// import { SITE } from 'wohlfuehlgesundheit:config';
---

<div class="flex">
  <img
    data-animate="fadeIn"
    data-animate-duration="4000"
    src="/src/assets/images/logo.png"
    class="mx-auto p-8"
    height="220"
  />
</div>
