---
import { Icon } from 'astro-icon/components';

import { UI } from 'wohlfuehlgesundheit:config';

export interface Props {
  label?: string;
  class?: string;
  iconClass?: string;
  iconName?: string;
}

const {
  label = 'Toggle between Dark and Light mode',
  class:
    className = 'text-muted hover:bg-secondary hover:text-[#2a700d] dark:hover:bg-secondary dark:hover:text-[#2a700d] active:bg-primary active:text-white dark:active:bg-primary dark:active:text-white focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-secondary dark:focus:ring-secondary rounded-lg text-base p-2.5 inline-flex items-center transition duration-200 ease-in',
  iconClass = 'w-6 h-6',
  iconName = 'tabler:sun',
} = Astro.props;
---

{
  !(UI.theme && UI.theme.endsWith(':only')) && (
    <button 
      data-animate="fadeIn"
      data-animate-duration="800"
      type="button" class={className} aria-label={label} data-aw-toggle-color-scheme>
      <Icon name={iconName} class={iconClass} />
    </button>
  )
}
